.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 19px;
}

.modal_opened {
  display: flex;
}

.modal__container {
  border-radius: 10px;
  position: relative;
  padding: 36px;
  background-color: #fff;
  margin: auto;
}

.modal__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: #000;
  margin: 0 0 54px;
}

.modal__close {
  border: none;
  background-color: transparent;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-image: url(../images/close-Icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 621px) {
  .modal__container {
    padding: 25px 22px;
  }

  .modal__close {
    left: calc(85%);
    bottom: calc(100% + 13px);
  }

  .modal__title {
    font-size: 18px;
    margin: 0 0 75px;
  }
}
