.profile {
  display: flex;
  gap: 30px;
  align-items: center;
  padding-top: 40px;
}

.profile__avatar-button {
  border: 0;
  padding: 0;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  position: relative;
  background: transparent;
}

.profile__avatar-button:hover .profile__avatar-edit {
  visibility: visible;
}
.profile__avatar-button:hover .profile__avatar {
  opacity: 0.2;
}

.profile__avatar {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
}

.profile__avatar-edit {
  position: absolute;
  left: 47px;
  top: 47px;
  height: 26px;
  width: 26px;
  visibility: hidden;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  align-items: center;
}

.profile__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 42px;
  line-height: 1.14;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  background: transparent url(../images/edit-button.svg) center no-repeat;
  width: 24px;
  height: 24px;
  grid-area: button;
  border: 1px solid #fff;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.profile__add-button {
  background: transparent url(../images/add-button.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.profile__description {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  grid-area: description;
  margin: 16px 0 0 0;
  max-width: 373px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 620px) {
  .profile {
    flex-direction: column;
  }

  .profile__title {
    margin-right: 10px;
  }

  .profile__add-button {
    margin: auto;
    width: 282px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .profile__title {
    font-size: 22px;
    line-height: 1.18;
  }

  .profile__description {
    font-size: 14px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}
